h1 {
    color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.container { 
    float: left; 
    background-color: #4aaaa5; 
    height: 75px; 
    widows: 250px;}
ul {
    list-style-type: none; 
    margin: 5px; 
    padding: 5px; 
    width: 60px; 
    overflow: hidden;
    display: inline;
    }
li a:hover {
    background-color: #dddddd
}
li a {
    display: block; 
    float: left;
    color: #777777
}
a {
    display: block;
    padding: 8px;
    background-color: #ffffff;
}
  